*{
    margin: 0;
    }


body   {
    font-family: 'Exo 2',sans-serif;
font-size: larger;
background-color: rgb(237, 219, 196);
}

.class{
    margin: 50px auto;
    overflow: auto;
    border-radius: 20px;
    width: 450px;
    height: 650px;
    background-color: rgb(252, 252, 87);
    border: 3px dashed rgb(19, 230, 0);
}
.img2  {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 450px;
    height: 220px;
    
    

}

.class h2{
    text-transform: none;
    font-size: x-large;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}
.class h2:hover  {
    background-color: rgb(110, 22, 22);
}

.class h3  {
font-size: x-large;
padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.class h3:hover  {
    background-color: rgb(225, 68, 68);
}

#icon  {
    color: rgb(210, 80, 80);
    background-color: rgb(219, 206, 141);
    margin: 7px 9px 7px 9px;

}

#icon:hover  {
    color: rgb(0, 191, 255);
    background-color: rgb(255, 0, 0);
}

.class p   {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.red   {
    color: red;
    font-size: 28px;
}