*{
    margin: 0;
    }


body   {
    font-family: 'Exo 2',sans-serif;
background-color: rgb(237, 219, 196);
}


.back  {
    margin: 20px auto;
    width: 850px;
    height: 750px;
    background-image: 
    url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBwgHBgkIBwgKCgkLDRYPDQwMDRsUFRAWIB0iIiAdHx8kKDQsJCYxJx8fLT0tMTU3Ojo6Iys/RD84QzQ5OjcBCgoKDQwNGg8PGjclHyU3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3Nzc3N//AABEIAHUAsAMBIgACEQEDEQH/xAAbAAACAwEBAQAAAAAAAAAAAAAEBQIDBgABB//EAD8QAAIBAwIDBQQHBgUFAQAAAAECAwAEERIhBTFBEyJRYXEygZGhFCNCscHR8AYVM1Jy4SRigpLxFjRTc5ND/8QAGgEAAwEBAQEAAAAAAAAAAAAAAwQFAgEABv/EACgRAAIBBAICAQQCAwAAAAAAAAECAAMEESESMRNBUQUUInEy8WGB0f/aAAwDAQACEQMRAD8A+eygBIZUwCBnHpXt67CFUPMnWT5npVSRSOmAABGCT4ioSpoLoO9hufjTxJxIwG55b7yKBTEIAuaCt0KzxgjnvTB45CgCbb860nUHV7ko4ixxiiIoeXeA8zzNDrbTIe84GOoNTYMqg9pknkAaIDAMM+5ebYIxJwSBkg9B51KD6LI+ia4lgXq6xavlmq7QwPkzXnZaRq3Qkuad2MMYKZgjJcHMsrLJt/SDsfX+1Cq1MAgQ1GllgT1Epit7jZ7p11HCfUgZHQnvD7qW3ZjsQyNOWlPSIZGPX+1bWdeGWnD3e1ewZwNu7ExB9WOc+grITWkEUutprcYxrZ3Lszc+h+4UnTuPITiUDa+Mb3FJimZs6ikZ5MzDHpnlmvY7eTOk2rttnWg1ah5Y5+6myiJpiVto50x3cAEH1BFTt+yd3/wT2xB2aGUqT7jkZ+FFJnAuYHFBbPCCysyk+2hyR/opjw6IaDDcrC0LHUpU4XPiOqn0+FWW0sE7tH9KjmYHvGRSjKemedN7e11oyyBMeyVYBkPiPL4UN21GKVPfUX2K3VrfMit2lq3ezJs6uPPIB/HrTqG9kj7P93uy3GnvRygNG48D1H6510MSR6raRNSj/wDNicgeCseY643pmbSKOxie3VCPZ1Hb3Ejr6j+0y6qIDhh3KlvTbGjJWE8s6It5a/R5D7LKcgtnYD/mrP8AvYZVu7ENpbS7Y7wPn4+tWCF2hzMAWiPeQjSRt16H50dYlGtJHilxuA+G1AHzFIM/E6EoBMjZmTuv2eikVjatg/ZzzHlWfuzc8Pbs5NSeI6etfQLhommCTfUSscRSA5STyz4+RpfxywW4tA9zD2iLn62Pdk/tTlG6IIDROvbKQWTuZEzPJHrwodRknHdcUDxGGK6hE0OVPUHoetObezEcJMDrMinYjqKT3+hLkxwnQpGpkPIGqVNgx1JdZGVfyl91bpbk3CHUSNGAOZNL2CtNLM6KN8aMdcc/lV93PPdEiT6sJkqoH632qCI08iTIRIH2KsORO29PMwJklUwNy1YzJfqgGyRKAPDy+dN/o6qxlZcRwpuMZycb/CgOCoZ+IzzkCQl9OOgX9YrVraxSw9k42lYAAeHP8KyXxNijymYe1luEtlb+NduWC/yR88n9dKDaGaTRLEhMbOY4jjGrG+w+ZNai9jSW4PYjA7EKxXYrDncDwLHuj0oiy7DW07KscMSC2gC7hf5iPXB38F869zM74B1FHA/2emv5A8ncgb2S2wPv6DzrRzcMjsLRXtUEsqjvPgaE8gBn5fGhbniUdxP9HwsUbLjQyhtI6YHiR/zVHF7/AOjr2cCpHLKoWCF+9IcDy2H3UjcGozAZ18Ru3SkASB/v/kz3FLuO/uJOyMQCdxpJYyQuOoznw8DQZtFVEY/SC+MExw7N6Zxin/DLWaRlbsme4c9+fHZIp8Btk+4j02pof2aa7U/S33HIdqxz/q3b50ccQMTnFiczFm2gKIpvZIdzkYGcj0JzR1lYW86aIeIds2nu60kXT8MjHrWiH7HKh+pljhB56E5/LPzq+PgMlmWe3cSE/Z1lPhuQK4xPxCIBnZia34VLbSLMohbUMYaTOPHBGPkDR9u0msqwJzsdA1j0/Qq52uYlAnsyjE+yXBBx55oP9/pDJJ29mcqebblfhzFAL5yANxpUAwScCOYSqqVYtpzyXvDyx411xruGkaKbcgbKdmAGeWfl8MGk0nHEIXs4wqMc6QAY2Pj4DnRdlfLd9p2ihXjA2GCGHTB6D9b0i9J882EdSqh/FTHluS9uhe1bCjSWTLaBz9cedQtILyO/M9tILqNlOkHGrT4K49r+lgfUcqqsL9Y5mRGALL3o3xgjw/I014a0MYkKu6CU5VA2y8s4x+HwoJpEZIHcOKgOviSvoo5LVmhijkZvajfbWOoIPXwzQtoqwqRb63icfwZOY/y5O+fI/GmQ7SYMrBVYexMpzk+fjnb1z76QzXU/YzRtGI7xZCIwrbSj/KfwPpS4pnqG5DuJLy3iS5a54e5B3Jjx7XkR41muIol1cl9HZu3LwNM+K30dpfLLESe0wXUbY2oDjge1uI5o+9BKupW8D4VatlK4zId2wbIHqCHs/pLwlm0s3tgblfCiEjVBGEjVXCkqejEHr8q7se1iikwrMO4B1O+c+6iI0xpMq7K/eAJPPlj4fOqLaMkptRPP2bmx2pIO7bnwwK0skjkkr3WEWF9WOPlis9whREbjI8Rpzv4fhTO6k7aVIUIzJOsY38jQScmMheIkLqYiedYThXkXDeEahQuPexPuqm4uTb29vGEH8MFRjYZ3x8AB/uq+J2ktsvHqjwApHROW/vNewfs/d3kaXGsRwdkSGO5bGenu+Ve8qoMtO+F6hwmzAuE5uruYOAwIwzs2Ne++fI/2rWwWJuLyK6e3CpHFpjTOMHxx4Y/vSjhHBWhu1CO2rsxqLnlnBJx054rZ2sIjQLucDmTk1PuKqs/LMp2ds/HBEgIiQqkDuDSMdBVywkjfFFxqvUUQqrjYVhbtVGFjLWedmLHgIFVGA+FN3jBqvsRRPvRMfYiKJIAVIZQR4EVneN8HxE9xaBi6kM0fPujnp93TlWzliHSlfFLSWe0mihwCy4Gw38t+XrWxco3cy1owB4z55xCBxH9Jt0kmSTILGEprA5HbunbwoSyuLgrHJHC7xRsNmBzjqFPj+ulaO+4RHwqdUWWURgZHYuQQTsMZOByxz6UtituITXcn0czFsKY5WTSDvnxIPuojPlcCKUqfFsHsRo9xDcQB45FJIwMjBJPTPuqx7429vrkbQhw232fMDr6UtvNZti9xbhJUkA1YJEm2+w6n47V5xEzGGJJ427UDVpdwRgcthy9OdBp8SIxULBpqLDi6zW5XEiqchhpOQT6ctvHzofisStaRRQllJ0kOWyVkHI/EdPE5rJ2dwLQLJdzSscBMl2AIzsfdjrzp19OKwd0FogfqtLcxz291YaiA2Vm1rErhoh40DxP/ABkcbJdKrCaMDbUu5A8+o8RQEV3Kts1nN9Zjod8DnkU5ubl7O9unZQr3GJB1G21Zy4URyCVDlD7JB6eFP0lOMGSq7/ln2e4Qt0f8OikY7Q5x57fLetDwZR9IMbopDfxNQ33PT5VlDG8c0asPtA5G+N60E105VdTrqZQ8ciDGTuN/nkeQozbO4tTyF/UcWnCRGFupdxkCQZyKT2byycbt2ckLFdoTnplgK21roueHPF3V7SMnnyznJ+NZaaJ3lhuIl/7iEa8DGJY2wfuB99TqFU8nVu5WuqC8Edf3I8F+kTxTxOD3LdFx6Shvx+Vbfh0WvgEMbjnb428NP96xdk13DfTSKCAy7KTgNljt862HDb2KKwRGfTpUhVY8lPIH3Y+dC+oBuP4jMJ9Pwp3PLPQ/FbpjG6SIAp1ct/x9Nqbx1mLnicdrxQ3Tqy27gRsdQOd/a92/zrQwTo6qysGU8iOtQr2pVpYYjRH9yxbupBUdgw+Nc0ZFblhvVFqwPKmkOy1K+8bOzBVahEFa3C9KGmwg5U0cAil12o8jXjeOTozFKpk7gEkoO4IqlpBXXGkeGaCd6ZS8aUaagzryCK6ZC650HI86qHDLTY/R1yBgbmpCcL1qRu1ApoX7jU61ojHOIPLYQqkiImgSLpbSSNuuPDNLeIWUUVjGkSKBG/dJHLPUnw2FNHugx3qDTx9cUwt6T3MmwXEy18s0IPbRLNESDLjPskcz4EY8/Wg5eFkItxwovJBIdkXcqB9kj4fretdcNFNGUPXbIONqzhglsI5EknjYSMR2aJpTVzG2MbjHLGKpW11zGPckXtm1I57Ez88wZxN2jfVgr3s8uWKWxyaVdMZU7ac/OnsvClnjeW0kaOQDW0R723PYjnikrAiQ6nUADbUvPblyqtSqA6kKshEKsZBcxSK3ecAsNskADP4UwuOzmtLZ4jhkGBjfBzn8jSCJzAySKSrLyx1FHOpKa4HJBXNEIglcTbfs/cdlKZCxFtL7Cg8mPTFD8fBdL0wbBJO3TSeWfax8qylvO1s6mOQqj4PeG2ad2vFZDIxnUBmB72Mq39jSRtQtfzD4xHluw9HxGDRX8l3Okdy+C50EnkCfZP50/wCD3ACqtwp1fwHDDOHB2z6gGs/FYQykMkhVVbBz4A4/KnEUxgMpnUSNKgR1B9tl9lx5/rxpioFI1BUWcHLQnicSyxtazAxqc6XLdccx+vA1O0S/4cQeHhLi3Ya3hd8MDtuvrSW+nmvYXLykSA9wE9PTr+YPUUx/Yzi4LRw3T/8ArcHI9KnXVINSIIyJRtnXyDeDNVwnjqTqNSNC/WOUYIrVWN1HLHnUvxpIwjdDqRHBG/doSHhWZgYeI3kak50jTgfFa+PvPpiEF1biJXdQ677mpurmOOMnUPjWZ4lxYISNQFBXkVx2xCcQutz0CYHuC0HPw2fmby4zzzpX8qJa/RMAMzaP7mKTJSJ/HJlVxxgn2QT50C/FJCeWKvHDpJDhbufV4EAfhUv3G5GWuXz/AFgfhVanYW69mMG9qD+KxdNxCdhgAn1OKp+nXo+0v+2m3/TxO/byEf8AsqB4ChG8sn/1p9KFAehFal3cH2REZmu9faG6fV67fCua9ugMGbfxxTZuAxf+WT/6VX+4rYneWT/cabC0j6ETavVHsxV+850GCQ58c4qD8RaZSrxRyADUVfBG3rTj/p61O/1hHTvN+dd+47FT3oifVm/OiCnSG+MC9zWYceUV2vESJI0ZezRCDldtJ/mzz/WaGureKVjIVtsknJCY5ddiD8fnT5+GWWQpj73kTmq/oXD4AGMQUKdiQNj76IqbyoiVRs/zYTBw3AZz2o5+FMYdt0zvScakbKnDeRqcNy8TZDHzzTWR7k0qexNOiwTKFeIjGwYDnXpsCg1Wj6SPsE7H8jS6yvkk2B3HSm1vNnzNaOxPIcai55bi2mZ2jJQ7yRgb+uPyphFepdKiIcEbp448R91GkRTLiVFcY28RSy64bobtLR/8wydwfEeB/W9CjIzLLqzuE1SRrrVt5Iue/iOoPl5DljajhzIt2dOpH5up3Db88e/mPfjqdDdXaQhb2JoRjCzJhlPkcVW1va3Q7VGDTJuWiOHA9OorBUEQwcqZteE36SwIkgdsdVXP6/W9MI+KWgLiG5jdhtjtVyD4evlWY/ZdZezkKzmUKSNSkgjb7Q/OjrqPWrPIQ78scifcQPvNQbi3pM/jfqXKdVzS5CGlZZ5GcBMYO+rG3woeeF21uO0Unb6uRT8sUNaxRhSiSBHHQAj8h99WPK1rGDOC4P2XcYPhuDTfjGPxgRUz3ILJCi9+CePpq0c6sEkfIzOP6lob6Tw+ZgcqjczhlP3n7qMhay5mVdA8W/MUM0iPUKKufcgdLL9VM2PQb0PLei3cF3kIPL6vI+6jZHsWGIXBGNzv+VAOysgxeRpk8jbOdvWuqp+Jxn/zLVv7aWIsWlj/AKotvjiotdKGDpI+nOPYXf30Lc9kYXD37EFSQDbOCB5Gl1vb2sbM63V4+Dg/UMc+lM0wItUJjtuIlNLNDO4x7WqNcfOhr/iEKRq2qWNuqu0RHxzSx3hdyPot/KNhtGBkZ597NCS4kyY+CcTIztlowG94ppDEqi59ycnFtEjiGaIr1zGD+NQhv4pWZmvpYyenYJ8sZNLWe5ik1ScFuI18Xy4HqAKoe6uJUBj4eVbG4EJP400lQrEqtEMIDIqPgx7LjlVclsx5YzTS4tbdS0QwkuMihraC4WYKykZPXrXiuDuLq+RkRaBJE2VOCPCj7e7k6ZDAb1bPCp7xADD2h4Vatk6BHaPIbcFen6zXADNFge5FOLyxkDJyPKjbfjKN/E2PQ0KqwOSGHeHNuoq1bZcZiIPXccq5CLy9RjDxaAA5fYjB0nY+oqm5W2mCyQMEIJIK9D5eHxqtQkkYWa173VgwYfdVb8Pt5mIt3IcH2AGB+GDXggmjUbGIXa3siMFnPaY21sgYgeowfvpnHfx6AvZvIo/8ExDZ/pOPxrNdhexjuamFSWWZDiaNs+YrD0UbqbW4qLozT/viEOqBp2HRJ4QSPgVP31fJfGTCrOFB30SHI92pfxNZmC7UHv8AaAjkG3Hzo76erqAGxt1WvCgPia+7PzGUrawCLe2cDl3CB8s1VFGB3zY6XO+qC4IOPeRQsN5GcDtPTOPurprwyuAGB08mIxXvDmd+5x7hsEzoNQN3gHO+G+41e96HKqZdS5z7GDn3mgY5lUgykHxIkB2o60niaQIuCpz9s5P4frlXjRE8Lg+zKp5I5YuzaeLK8ssBv7hVFvHaGMLJEmVGRmBiTv57UTeWsVyoRXihUDKlmBJ35Fcg/KlaWd9rPZwCR15MwAz8enlWeB+Jvyg7zKZ7Th0coMl9bJnkraFJPie6TnyqtLe1R8xcT0DGyRRrz/1L+VSXh/GsE/Q4QeZA2JPofzoSfh/HQx0zGPUMsnaZx8CfuroWcL/JhEkV0cY4remM7jTEpPxXpS68tpCS/wBNuHZf5kySPhXNwfiLITcyaQBgnvt95xQkfDAZSovo8jb7QP51vBgyy/MHWdppAHJJJyGzuKIWWQ5LOWK8s11dXcxdgI1SxX6MJWkY6lyFG2KHh4jc26mJHBQHkRnNeV1EOjqCG+4RO5ng7TZWU55DwqcJMcnPOP8Amurqw8LRhSzlQWA3UasZ2O/WirJFkCJIqkt3gcY0+WBjNdXUFuo2mzLLi2MU5iWViA2nDEkHb9daA7UvOYxkAHqcj4V1dXaRJG5m4RVbXzPNbKCQRs2MYqtkaRXbXpI/lFdXU0O4i0FdnjXVlTnbcUK3ESjY7L4NXV1dJnlAMIjujJjAK5HQ17lwciR/iK9rq6s84wdQkXEyxjD5A6FQaJ1zFFOtBkcwmCK6uoqwZ6nR62OXllJA/nNSjuBghVYEj2i5yK6urRmPUtm1i1BMj8ujEH78fKhVdpUUa5MnG7NnFdXVnAncnE//2Q==");
    background-repeat: no repeat;
    /*background-size :200px 100px,
    prva vrednost se odnosi na sirinu,
    druga na visinu*/
   /* background-size: cover
   -za prekrivanje celog diva*/
   /*background-size:contain-povecava
   fotografiju kako bi se popunio kontejnjer,
   ali je ne sece*/
}
.class1   {
    margin: 15px;
    width: 300px;
    height: 300px;
    padding: 20px 15px;
    border: 2px dashed red;
    background-color: aqua;
    display: inline-block;
    overflow:auto;
    
}

.class1:nth-of-type(2) {
    margin: 15px;
    width: 300px;
    height: 300px;
    padding: 20px,15px;
    border: 2px dashed red;
    background-color: aqua;
}

.class1:nth-of-type(3)   {
    margin: 15px;
    width: 300px;
    height: 300px;
    padding: 20px,15px;
    border: 2px dashed red;
    background-color: aqua;
}


p2:hover {
    background-color: rgb(173, 163, 230);

}

.green  {
    font-size: 25px;
    color: green;
}

.red   {
    font-size: 28px;
    color: red;
}

.blue  {
    font-size: 28px;
    color: blue;
}

.back h1  .blue {
    color: blue;
}