*  {
    margin: 0;
}

body   {
    font-family:'Exo 2',sans-serif;
}

.main  {
    display: inline-block;
    margin: 40px 20px;
    background-color: aqua;
    width: 350px;
    height: 400px;
    overflow: auto;
    }  
/*Ako u displeju stavimo blok to 
nam onemogucuje dodatne stilove 
kontejnjera,sto nam ne ide u korist.
Pozeljno je koridstiti inline-block
kako nam ostaje moguucnost dodatne  
manipiulacije tog kontejnjera.*/

/*HTML ELEMENTS*/
/*POSTOJE*/
/*1. Block-Level elements*/
/*Neki poznati block level elements:*/
/* <p> */
/* <div> */
/*<h1> do <h6> */
/* <ol>, <ul>, <li> */
/* <main */
/* <section> */
/* <article> */

/*2.Inline elements: */
/*Neki poznati iline elements: */
/* <span> */
/* <a> /*
/* <img> */
/* <button> */



    