*  {
    margin: 0;
}

body  {
    font-family: 'Exo 2',sans-serif;

}

.parent  {
    width:100vw ;
    height: 400px;
    background-color: rgb(222, 237, 241);
    float: left;
}


.box1  {
    width: 100px;
    height: 100px;
    background-color: rgb(210, 41, 41);
    float: right;

}

.box2 {
    width: 100px;
    height: 100px;
    background-color: rgb(128, 210, 41);
    float:right;
}

.box3  {
    width: 100px;
    height: 100px;
    background-color: rgb(41, 64, 210);
    float: right;
}

.box4 {
    width: 100px;
    height: 100px;
    background-color: rgb(41, 210, 151);
    float: right;
}
.box5  {
    width: 100px;
    height: 100px;
    background-color: rgb(255, 231, 17);
    float: left;
    clear: both;
}

.box6 {
    width: 100px;
    height: 100px;
    background-color: rgb(129, 5, 81);
    float: left;
}

.box7  {
    width: 100px;
    height: 100px;
    background-color: rgb(2, 4, 40);
    float: left;
}

.prvi  {
    width: 300px;
    height: 300px;
    background-color: rgb(16, 255, 64);
    float: left;
}


.drugi {
    width: 300px;
    height: 300px;
    background-color: rgb(248, 100, 177);
    float: right;

}


















