

body  {
    font-family: 'Exo 2',sans-serif;
}


img  {
    float: left;
    margin-left: 300px;
    margin-top: 70px;
}

.prvi  {
    width: 500px;
    height: 500px;
    background-color: aquamarine;
    float: right;
    margin-top: 70px;
    margin-right:200px;
}

.prvi .btn  {
    
}