*  {
    margin: 0;
    box-sizing: border-box;
}



body  {
    font-family:'Fredoka One', cursive;
}

.header  {
    background-color: orangered;
    width:40vw;
    height: 8rem;
    padding: 10px;
    border: 2px dashed darkred;

}

.after  {
    background-color: rgb(44, 199, 44);
    width:40vw;
    height: 8rem;
    padding: 10px;
    border: 2px dotted darkred;
}

.footer  {
    background-color: rgb(46, 22, 119);
    width:40vw;
    height: 8rem;
    padding: 10px;
    border: 2px double darkred;
}