*  {
    margin: 0;
    box-sizing: border-box;
}


body  {
    font-family::'Fredoka One', cursive ;
}


header  {
        margin: 0px auto;
        width:100vw;
        height: 5rem; 
        background-color: rgb(44, 78, 215);
        display: flex;
        justify-content:end;
        align-items: center;
        position: relative;
}


header h1   {
    position: absolute;
    left: 0;
    margin-left: 1rem;
}

header button {
    padding: 1rem;
    margin-right: 1rem;
}


main h1  {
    margin: 5rem 0 5rem 2 rem;
}

main.parent  {
    margin: auto;
    width: 90vw;
    height: 13rem;
    background-color: #f5f5dc;
    display: flex;
    justify-content: start;
}

main .parent img {
    width:600px;
    height: 700px;
    flex-grow: 2;
    margin-right: 2rem;
}

main .parent .child {
    flex-grow: 1;
}






