* {
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-color: rgb(232, 239, 171);
    font-family:'Fredoka One', cursive;
}


body:hover  {
    background-color: rgb(100, 171, 215);
}  



header {
    width: 100vw;
    height: 6rem;
    background-color: #0000ff;

}

.parent{
    margin: auto;
    width: 80%;
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 2px;

}

.head {
    display: flex;
    align-items: center;
    position: relative;
    bottom: -30px;
}


.parent h1  {
    position: relative;
    margin-top: 25px;
    color: aliceblue;
}


.head ul {
    display: flex;
    gap: 15px;
    justify-content: center;
    list-style-type: none;
    align-items: center;
    margin-right: 20px;

}

.head ul a {
    text-decoration: none;
    color: white;
}

.head button  {
    width: 90px;
    height: 60px;

}

.main  {
    height: 50%;

}

.prvi {
    width: 350px;
    height: 300px;
    background-color: rgb(207, 212, 188);
    margin-left: 200px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    
}


.prvi p {
        display: flex;
        flex-direction:column;
        justify-content: center;
        align-items:center;
}

.prvi:hover  {
    background-color: rgb(138, 70, 201);
}

.drugi {
    width: 350px;
    height: 300px;
    background-color: rgb(59, 128, 185);
    position: relative;
    margin-right: 270px;
    margin-left: 200px;
    top:80px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.drugi:hover  {
    background-color: rgb(83, 185, 185);
}

.drugi p {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}


.treci {
    width: 350px;
    height: 300px;
    background-color: rgb(155, 116, 139);
    position: relative;
    margin-left: 600px;
    top: -530px;
    font-size: 16px;
    display: flex;
}

.treci p {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}

.treci:hover  {
    background-color: rgb(205, 106, 81);
}

.cetvrti {
    width: 350px;
    height: 300px;
    background-color: rgb(72, 66, 96);
    position: relative;
    top: -450px;
    margin-bottom: 900px;
    margin-left: 600px;
    font-size: 16px;
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
}

.cetvrti p {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;
}


.cetvrti:hover  {
    background-color: rgb(207, 212, 113);
}

.child img {
    width: 500px;
height: 450px;
position: relative;
top: -1950px;
margin-left: 1000px;
border-radius: 20px;
}

.child img:hover  {
    content: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQR1CO_8iovCzIM9BpYP7t0RpEc6kTBMbm5_w&usqp=CAU);
}

#icon  {
    background-color: rgb(206, 11, 11);
}

#icon:hover  {
    background-color: rgb(223, 223, 93);
}