*  {
    margin: 0;
    box-sizing: border-box;
    /*da udje sav sadrzaj unutra,da se ne menja dimenzija kontejnera
    */
}

body  {
    font-family: Arial, Helvetica, sans-serif;

}

h1  {
    text-align: center;
}

.parent  {
    margin: 0 auto;
    width: 40%;
    height: 400px;
    background-color: rgb(15, 15, 207);
}

.child  {
    width: 150px;
    height: 150px;
    background-color: rgb(212, 38, 38);
    /*definisemo ponasanje nase animacije*/
    /*   property duration    timing function                 delay*/
    /*  svojstvo trajanje   funkcija za izvrsavanje animacije  odlaganje*/

    transition: transform 0.5s cubic-bezier(0.51, 1.79, 1, 1.41)  0.4s;
    /*transition-property:transform;*/
    /*transition-duration: 0.5s;*/
    /* transition-timing-function:cubic-bezier(0.51, 1.79, 1, 1.41) ;*/
    /*transition-delay: 1s;*/


}

.parent:hover  .child  {
    transform: translateY(250px);


}



