*  {
    margin: 0;
    box-sizing: border-box;
}

body  {
    background-color: rgb(228, 228, 255);
font-family: Arial, Helvetica, sans-serif;
}

body:hover  {
    background-color: antiquewhite;
}

header  {
    width:100vw;
    height: 6rem;
    background-color: rgb(39, 39, 183);
}


.parent  {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main  {
    display: flex;
    align-items: center;
    bottom: -30px;
}

.parent h1  {
    color: rgb(252, 254, 255);
    margin-top: 25px;
}

.main   ul  {
    display: flex;
    gap: 15px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin-right: 20px;
    margin-top: 40px;
}

.main ul a  {
    text-decoration: none;
    color: aliceblue;
}

.main button  {
    width: 90px;
    height: 60px;
    border-radius: 20px;
    position: absolute;
    margin-left: 450px;
    margin-top: 40px;
    

}

.glavni  {

    width: 60%;

}

.head  {
    width: 500px;
    height: 300px;
    margin-left: 500px;
}


.head h1  {
    text-align: center;
}

p  {
text-align: center;
}

.prvi {
    text-align: center;
    width:350px ;
    height: 300px;
    background-color: aqua;
    position: absolute;
margin-left: 150px;
margin-bottom: -10px;
}

.drugi {
    text-align: center;
    width:350px ;
    height: 300px;
    background-color: aqua;
    position: absolute;
margin-left: 600px;

}

.treci {
    text-align: center;
    width:350px ;
    height: 300px;
    background-color: aqua;
    position: absolute;
    margin-bottom: -10px;
    margin-left: 1050px;
}


.cetvrti  {
    width: 450px;
    height: 400px;
    background-color: rgb(55, 112, 224);
    position: absolute;
    margin-top: 500px;
    margin-right: 540px;
    margin-left: 100px;
}

.cetvrti h4  {
    text-align: center;
}

.cetvrti h1  {
    text-align: center;
}

.cetvrti button  {
    width: 190px;
    height: 50px;
    margin-left: 130px;
}


img  {
    width: 550px;
    height: 500px;
    position: absolute;
    margin-left: 800px;
    margin-top: 450px;
    border-radius: 20px;
}

@media screen (max-width:500px) {
    header  {
        width:100vw;
        height: 6rem;
        background-color: rgb(39, 39, 183);
    }
    
    
    .parent  {
        margin: 0 auto;
        width: 80%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    .main  {
        display: flex;
        align-items: center;
        bottom: -30px;
    }
    
    .parent h1  {
        color: rgb(252, 254, 255);
        margin-top: 25px;
    }
    
    .main   ul  {
        display: flex;
        gap: 15px;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-right: 20px;
    }
    
    
    .drugi {
        display: inline-block;
        width:350px ;
        height: 300px;
        background-color: aqua;
    margin-left: 50px;
    }
    
    .treci {
        display: inline-block;
    
        width:350px ;
        height: 300px;
        background-color: aqua;
        margin-left: 50px;
        margin-bottom: 390px
    }
    
    
    .cetvrti  {
        display: inline-block;
        width: 450px;
        height: 400px;
        background-color: aquamarine;
    margin-bottom: 1200px;
    }

}