*{
    margin: 0;
    }


body   {
    font-family: 'Exo 2',sans-serif;
font-size: larger;
background-color: rgb(237, 219, 196);
}

.class:nth-of-type(1){
    margin: 10px;
    overflow: auto;
    border-radius: 20px;
    width: 450px;
    height: 650px;
    background-color: rgb(252, 252, 87);
    border: 3px dashed rgb(19, 230, 0);
}

    .class:nth-of-type(2) {
        margin: 50px auto;
        overflow: auto;
        border-radius: 20px;
        width: 450px;
        height: 650px;
        background-color: rgb(252, 252, 87);
        border: 3px dashed rgb(221, 122, 0);
    }
    
        .class:nth-of-type(3) {
            margin-left: 1000px;
            overflow: auto;
            border-radius: 20px;
            width: 450px;
            height: 650px;
            background-color: rgb(252, 252, 87);
            border: 3px dashed rgb(0, 134, 216);
        }

            .class:nth-of-type(4) {
                margin: 70px;
                overflow: auto;
                border-radius: 20px;
                width: 450px;
                height: 650px;
                background-color: rgb(252, 252, 87);
                border: 3px dashed rgb(255, 0, 0);
            }     
            
                .class:nth-of-type(5) {
                    margin: 50px auto;
                    margin-left: 540px;
                    overflow: auto;
                    border-radius: 20px;
                    width: 450px;
                    height: 650px;
                    background-color: rgb(252, 252, 87);
                    border: 3px dashed rgb(119, 94, 246);
                }

                .class:nth-of-type(6) {
                    margin-left: 1000px;
                    overflow: auto;
                    border-radius: 20px;
                    width: 450px;
                    height: 650px;
                    background-color: rgb(252, 252, 87);
                    border: 3px dashed rgb(255, 33, 33);
                } 

                .class:nth-of-type(7) {
                    margin:40px;
                    overflow: auto;
                    border-radius: 20px;
                    width: 450px;
                    height: 650px;
                    background-color: rgb(252, 252, 87);
                    border: 3px dashed rgb(35, 238, 120);
                }
.img2  {
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    width: 450px;
    height: 220px;
    
    

}

.class h2{
    text-transform: none;
    font-size: x-large;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    
}
.class h2:hover  {
    background-color: rgb(110, 22, 22);
}

.class h3  {
font-size: x-large;
padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.class h3:hover  {
    background-color: rgb(225, 68, 68);
}

#icon  {
    color: rgb(210, 80, 80);
    background-color: rgb(219, 206, 141);
    margin: 7px 9px 7px 9px;

}

#icon:hover  {
    color: rgb(0, 191, 255);
    background-color: rgb(255, 0, 0);
}

.class p   {
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

.class:nth-of-type(1):hover  {
    background-color: rgb(173, 224, 207);
    color: rgb(55, 55, 227);
}

.class:nth-of-type(2):hover  {
    background-color: rgb(227, 148, 175);
    color: rgb(6, 255, 234);
}

.class:nth-of-type(3):hover  {
    background-color:rgb(137, 236, 128);
    color: rgb(221, 122, 0);
}

.class:nth-of-type(4):hover  {
    background-color:rgb(241, 150, 85);
    color: rgb(68, 14, 14);
}


.class:nth-of-type(5):hover  {
    background-color:rgb(219, 233, 139);
    color: rgb(221, 0, 18);
}

.class:nth-of-type(6):hover  {
    background-color:rgb(128, 212, 236);
    color: rgb(12, 58, 143);
}

.class:nth-of-type(7):hover  {
    background-color:rgb(181, 81, 211);
    color: rgb(55, 11, 68);
}



