*{
margin: 0;
}

body   {
    font-family: 'Exo 2',sans-serif;
}

.glavni:nth-of-type(1)   {
    margin: 50px auto;
    background-color: darkseagreen;
    width: 650px;
    height: 225px;
    overflow-y: scroll;

}

.glavni:nth-of-type(2)   {
    margin: 50px auto;
    background-color: rgb(150, 143, 188);
    width: 650px;
    height: 225px;
    overflow-y: scroll;
    visibility: hidden;

}


.glavni:nth-of-type(3)   {
    margin: 50px auto;
    background-color: darkseagreen;
    width: 650px;
    height: 225px;
    overflow-y: scroll;
}


#icon  {
    color: red;
    background-color: aqua;
    margin: 5px 7px 5px 7px;

}