body {
   width: 100%;
}

.class {

   background-color: orange;
   color: black;
   width: 600px;
   height: 600px;

   border: 3px solidborder blanchedalmond;
   display: flex;
   flex-direction: column;
   position: absolute;

   border-radius: 25px;
   border: 2px solid rgb(33, 3, 3);
   margin: 50px;
   margin-left: 450px;
}

h1 {
   font-size: xx-large;
   text-align: center;
}



.img1 {
   width: 600px;
   height: 200px;

   position: relative;
   border-top-left-radius: 25px;
   border-top-right-radius: 25px;

}

h1:hover {
   background-color: firebrick
}
p   {
   text-align: center;
}
h2{
   font-size: x-large;
}