body   {
    font-size: medium;
}
.container   {
    color: rgb(13, 30, 30);
    width: 600px;
    height: 700px;
    margin:  50px auto;
    padding: 140px;

}

.container p  {
    text-align:right;
margin: 1px;


}

.container h3 {
    text-align: center;
    margin: 1px;
    color: rgb(140, 31, 31);
    
}
.container h6   {
    color: rgb(140, 31, 31);
    margin: 1px;
}

.container h6  {
    color:rgb(140, 31, 31);
    margin: 1px;
}

.container h6  {
    color: rgb(140, 31, 31);
    margin: 1px;
}

.container h6  {
    color: rgb(140, 31, 31);
    margin: 1px;
}

.container h6  {
    color:rgb(140, 31, 31);
    margin: 1px;
}
.container h6  {
    color: rgb(140, 31, 31);
    margin: 1px;
}
.container h6   {
    color: rgb(140, 31, 31);
    margin: 1px;
}

.container h5   {
    margin: 1px;
    background-color: rgb(178, 235, 216);
    border: 1px dashed rgb(66, 24, 24);
    
}

.container h4   {
    margin: 1px;
    border: 1px dashed rgb(66, 24, 24);
}

.container h5   {
    margin: 1px;
}
.container h4   {
    margin: 1px;
}
.container h5   {
    margin: 1px;

}.container h4  {
    margin: 1px;
}

.container h5   {
    margin: 1px;
}
